.root {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #6e88d9; /* here rgba (corrected) */
    -fx-accent: #aed5ff;
    -fx-highlight-text-fill: black;
}

.label {
    -fx-font-size: 13
}

.progress-indicator {
    -fx-accent: #0096C9;
}

.progress::-webkit-progress-value {
    transition: width 0.5s ease;
}

.warning {
    -fx-background-color: #FF000055;
}

.button,
.toggle-button,
.radio-button > .radio,
.check-box > .box,
.menu-button,
.choice-box,
.color-picker.split-button > .color-picker-label,
.combo-box-base,
.combo-box-base:editable > .arrow-button {
    -fx-background-radius: 4px;
}

.button {
    -fx-border-radius: 5;
}

.text-field, .text-area {
    -fx-background-radius: 0px;
    -fx-highlight-text-fill: black;
    -fx-text-fill: black;
}

.success {
    -fx-background-color: #00FF0055;
}

.text-field.error {
    -fx-effect: dropshadow(three-pass-box, darkred, 7, 0, 0, 0);
}

.text-field.error:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: rgba(0, 0, 0, 0); /* here rgba (corrected) */
}

.warning {
    -fx-effect: dropshadow(three-pass-box, gold, 14, 0, 0, 0);
}

.progress-bar {
    -fx-accent: #3c7cff;
}

.progress-bar > .bar {
    -fx-accent: #3c7cff;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-padding: 0;
}