.root{
    -fx-faint-focus-color: 86a0f1;
    -fx-focus-color: transparent; /* here rgba (corrected) */
    -fx-background-color: #ececec
}
.label{
-fx-font-size : 13
}
 combo-box-base
 {
     -fx-font-size : 13
 }
 .progress::-webkit-progress-value {
   transition: width 0.5s ease;
 }
.warning {
    -fx-background-color: #FF000055;
}
.button,
.toggle-button,
.radio-button > .radio,
.check-box > .box,
.menu-button,
.choice-box,
.color-picker.split-button > .color-picker-label,
.combo-box-base,
.combo-box-base:editable > .arrow-button {
    -fx-background-color: white;
    -fx-background-radius: 2px;
    -fx-border-color: #bdbdbd;
    -fx-border-width: 1px;
}
.button{
    -fx-border-radius: 5;
}
.text-field{
    -fx-background-radius: 0px;
}
.success {
    -fx-background-color: #00FF0055;
}
.text-field.error {
    -fx-effect: dropshadow(three-pass-box, darkred, 7, 0, 0, 0);
}
.text-field.error:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color:rgba(0,0,0,0); /* here rgba (corrected) */
}

.warning {
    -fx-effect: dropshadow(three-pass-box, gold, 14, 0, 0, 0);
}